body {
    height: 500px;
    background: whitesmoke;
    position: relative;
    min-height: 100vh;
}

.container-main {
    margin: auto;
    background-image: url('../bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px;
    height: 100%;

}

footer {
    bottom: 0;
    width: 100%;
    background-color: #dddddd;
    color: rgb(105, 105, 105);
    height: 2em;
    text-align: right;
    padding: 5px;
}

.container {
    margin-top: 10px;
    background: white;
    padding: 5px 10px;
    border-radius: 5px;
    padding-bottom: 2.5rem;
}