
body {
    height:500px;
}
.container-main {
    margin: auto;
    background-image: url('../bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px;
    height: 100%;
}

footer {
    background-color: azure;
}

.container {
    margin-top: 10px;
}